.idea
*.iml
node_modules
index.d.ts
index.d.ts.map
index.js
index.js.map
SpeechOutput.d.ts
SpeechOutput.d.ts.map
SpeechOutput.js
SpeechOutput.js.map
UseSpeechMarks.d.ts
UseSpeechMarks.d.ts.map
UseSpeechMarks.js
UseSpeechMarks.js.map
WordMarker.d.ts
WordMarker.d.ts.map
WordMarker.js
WordMarker.js.map
